@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', 	Sans Serif;
}
 /* @import url('https://fonts.googleapis.com/css?family=Spartan'); 

@font-face {
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.gstatic.com/s/spartan/v12/l7gAbjR61M69yt8Z8w6FZf9WoBxdBrGFuV6HABTdfw.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
} */


body{
  font-family:'Poppins', 	Sans Serif;
background-image: url("images/Vector6.png");
background-color: #F9F9F9;
min-height: 75rem;
padding-top: 4.5rem;
}

a{
  text-decoration: none;

}
li{
  list-style: none;
}

 .navbar{
  border-bottom: 2px solid #009456;
 }
 
 .logo{

   display: block;
   transition: 0.5s ease;
   /* margin-top: 20px; */
   margin-left: 39px;
   margin-right: 65px;
  
 

 }



.navbar li{
    list-style: none;
   
    position: relative;
  
}
.navbar li a{
  text-decoration: none;
  font-family: Poppins;
  font-size: 14px;

  color:#666666;
  transition: 0.3s ease;
  justify-content: space-between;
  /* width: 60px; */
  /* height: 25px; */


}


.navbar li a:hover,
.navbar li a.active{
    /* border-bottom: 3px solid #EE2D43; */
    color: #EE2D43;
    font-weight: bold;
  
}
.navbar li a:hover:after,
.navbar li a.active::after{
    content: "";
    width: 80%;
    height: 3px;
  position: absolute;
    background: #EE2D43;
    bottom: -15px;
    left: 10px;
    
    
}
.navbar-text{
 

    padding-right: 50px;
    /* margin-top: 18px; */
  }
  .navbar-text .btn-1{
    width: 59px;
    height: 27px;
    border-radius: 4px;
    text-align: center;
    font-family: 'Poppins';
    font-size: 12px;
        padding-right: 19px;
background-color: #EE2D43;
color: #ffffff;
  }
  .navbar-text .download{
    color:#009456;
    font-family: 
   poppins;
    font-size: 14px;
   
  padding-right: 12px;
 padding-top: 5px;
  font-weight: bold;
  }
  .navbar-text .search {
    padding-right: 12px;
    color:#666666;
  } 

  /*header end*/


  /*********************Home Easy Payment System Part start****************/
 main .outlined{
   /* background-color: red; */
    padding-left: 220px;
    padding-right:  30px;
  }
 main .btn-1{
    width: 429px;
    height:52px;
    background-color: #009456;
    color: #FFFFFF;
    margin-bottom: 20px;
    border-radius: 4px;
    font-family: 'Poppins';
    }

    main .easy{
      font-family:'Poppins', 	Sans Serif;
      font-size: 80px;
      color: white;
      text-transform: uppercase;
    padding-top: 20px;
    /* line-height: 1rem; */
      text-shadow:
        -2px -2px 0 #EE2D43,
         0   -2px 0 #EE2D43,
         2px -2px 0 #EE2D43,
         2px  0   0 #EE2D43,
         2px  2px 0 #EE2D43,
         0    2px 0 #EE2D43,
        -2px  2px 0 #EE2D43,
        -2px  0   0 #EE2D43;
    }
  main .payment{
   /* margin-bottom: 10px; */
      text-transform: uppercase;
      color: white;
      font-size: 80px;
      font-family:'Poppins', 	Sans Serif;
      /* line-height: 1rem; */
      /* font-family:'Poppins', Courier, monospace; */
      text-shadow:
        -1px -1px 0 #009456,
         0   -1px 0 #009456,
         1px -1px 0 #009456,
         1px  0   0 #009456,
         1px  1px 0 #009456,
         0    1px 0 #009456,
        -1px  1px 0 #009456,
        -1px  0   0 #009456;
    }
  
  /*********************Home Easy Payment System Part end****************/
