@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/poppins-v19-latin-regular.eot'); 
  src: local(''),
       url('fonts/poppins-v19-latin-regular.eot?#iefix') format('embedded-opentype'), 
       url('fonts/poppins-v19-latin-regular.woff2') format('woff2'), 
       url('fonts/poppins-v19-latin-regular.woff') format('woff'), 
       url('fonts/poppins-v19-latin-regular.ttf') format('truetype'),
       url('fonts/poppins-v19-latin-regular.svg#Poppins') format('svg'); 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family:'Poppins', 	Sans Serif; */
}


body{

background-color: #F9F9F9;
min-height: 75rem;
padding-top: 4.5rem;
}

a{
  text-decoration: none;

}
li{
  list-style: none;
}

 .navbar{
  border-bottom: 2px solid #009456;
 }
 
 .logo{

   display: block;
   transition: 0.5s ease;

   margin-right: 65px;
  
 

 }



.navbar li{
    list-style: none;
   
    position: relative;
  
}
.navbar li a{
  text-decoration: none;
  font-family: Poppins;
  font-size: 14px;

  color:#666666;
  transition: 0.3s ease;
  justify-content: space-between;
  /* width: 60px; */
  /* height: 25px; */


}


.navbar li a:hover,
.navbar li a.active{
    /* border-bottom: 3px solid #EE2D43; */
    color: #EE2D43;
    font-weight: bold;
  
}
.navbar li a:hover:after,
.navbar li a.active::after{
    content: "";
    width: 80%;
    height: 3px;
  position: absolute;
    background: #EE2D43;
    bottom: -15px;
    left: 10px;
    
    
}
.navbar-text{
 
/* 
    padding-right: 50px; */
    /* margin-top: 18px; */
  }
  .navbar-text .btn-1{
    width: 59px;
    height: 27px;
    border-radius: 4px;
    text-align: center;
    font-family: 'Poppins';
    font-size: 12px;
        padding-right: 19px;
background-color: #EE2D43;
color: #ffffff;
  }
  .navbar-text .download{
    color:#009456;
    font-family: 
   poppins;
    font-size: 14px;
   
  padding-right: 12px;
 padding-top: 5px;
  font-weight: bold;
  }
  .navbar-text .search {
    padding-right: 12px;
    color:#666666;
  } 
/*header end*************************************/

/*********************Home Easy Payment System Part start****************/
 main .main-content{
   
    padding-left: 180px;
    padding-right:  30px;
  }
 main .btn-1{
   
    background-color: #009456;
    color: #FFFFFF;
  
    border-radius: 4px;
    font-family: 'Poppins';
    font-size: 0.8em;
    }

    main .easy{
     
      font-size:4rem;
      text-transform: uppercase;
    padding-top: 20px;
    color: #FFFFFF;
    font-weight:900;
 
    -webkit-text-stroke: 1.5px #EE2D43;
  

    }
  main .payment{
  
      text-transform: uppercase;
      color: #FFFFFF;
      font-size:4rem;
      -webkit-text-stroke: 1.5px #009456;
      font-weight: 900;
  
    }
  main .system{
  
      text-transform: uppercase;
      color: #FFFFFF;
      font-size:4rem;
      -webkit-text-stroke: 1.5px #009456;
      font-weight: 900;
      margin-bottom: 10px;
  
    }
main p{
  font-family: 'Poppins';
  font-size: 12px;
  line-height: 25px;
  width: 450px;

  color: #666666;
}
main .service{
 
}    
.slides .btn{
  font-family: 'Poppins';
  font-size: 0.5rem;
  color: #666666;
  width:100px;
  height:30px;
  background-color: #FFFFFF;
  border-radius: 8px;
  
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15);
 padding-top:8px ;
 font-weight: 500;
  }
 .slides .btn.active{
  
    /* background-color: #009456; */
    color: #FFFFFF;
    
 }  
/* main .slider{

}

main .slider {
 
  overflow: hidden;
  border:6px solid #3F3D56;
  border-radius: 24px;
  width:163px;
  margin: 0;
  left: 0;
}
.slides{
  display: flex;
}
.slide{
  transition: 2s;
}
.slides .btn{ 
  display: flex;
}
.slide img{

  position: relative; 
  height: 315px;
  border-radius: 24px;
    width:150px;
    margin: 0;
    left: 0;
 }
.navigation-manual{

}
.manual-btn{
  border: 2px solid red;
} */

.slider{
  overflow: hidden;
  border:6px solid #3F3D56;
  border-radius: 24px;
  width:170px;
 margin-left:20px;
  /* margin: 0;
  m: 0; */
 
}

.slides{
  width: 650%;
  /* height: 500px; */
  display: flex;
  padding-right:30px ;

}

.slides input{
  display: none;
  /* margin-left: 12px; */
}

.slide{
  width: 20%;
  transition: 2s;
}

.slide img{
  height: 315px;
  width:150px;
  border-radius: 24px;
 
}

/*css for manual slide navigation*/

.navigation-manual{
  position: absolute;
  width: 800px;

  display: flex;
  /* justify-content: center; */
}

.manual-btn{
  /* border: 2px solid #40D3DC; */
  /* padding: 5px; */
 
  cursor: pointer;
  transition: 2s;
}

.manual-btn:not(:last-child){
  margin-right: 12px;
}

.manual-btn.active,
.manual-btn:hover{
  background-color: #009456;
  color: #FFFFFF;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}

#radio4:checked ~ .first{
  margin-left: -60%;
}

/*css for automatic navigation*/

.navigation-auto{
  position: absolute;
  display: none;
  width: 800px;
  /* justify-content: center; */
  /* margin-top: 460px;
  */
 
}

.navigation-auto div{
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background: red;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background: red;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background: red;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
  background: red;
}
      
  /*********************Home Easy Payment System Part end****************/
